<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LYSAdminEntities" connectionString="data source=lysdev.cdwv1jjjhtor.ap-southeast-1.rds.amazonaws.com;initial catalog=LYSAdmin;user id=susmita;password=l0cky0urstay007;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Environment -->
    <add key="EnvironmentName" value="Development" />
    <!--<add key="EnvironmentName" value="Test" />
    <add key="EnvironmentName" value="Production" />-->
    <!--prod-->
    <add key="BlogUrl" value="http://lockyourstay.com/blog/" />
    <add key="FacebookUrl" value="https://www.facebook.com/lockyourstay" />
    <add key="TwitterUrl" value="https://twitter.com/lockyourstay" />
    <add key="GooglePlusUrl" value="https://plus.google.com/+LockYourStay" />
    <add key="LinkedinUrl" value="http://in.linkedin.com/in/lockyourstay" />
    <!--mandril-->
    <add key="MandrillKey" value="9sKSAuCPZBX7jgZAMEGGUA" />
    <add key="SupportEmailID" value="support@lockyourstay.com" />
    <!-- mailchimp -->
    <add key="MailChimpApiKey" value="f507c94f29318d059cc441ac84f3a73b-us11" />
    <add key="MailChimpListName" value="Lockyourstay Company Newsletter" />
    <!-- Security -->
    <add key="EncryptionKey" value="012345678901234567890123" />
    <!-- Outh Keys -->
    <add key="GoogleClientId" value="952926633768-2v8co79vcd8feea45jlpmvicuuq6njbg.apps.googleusercontent.com" />
    <add key="GoogleClientSecret" value="1U6uIhwDMBHjP29lCMBYKCSb" />
    <add key="FacebookAppId" value="768508273261526" />
    <add key="FacebookAppSecret" value="7ddf95e54a6ee523dcda86c55cda3f40" />
    <!-- Booking -->
    <add key="LYSServiceCharge" value="200" />
    <!-- Payment Gateway -->
    <!-- Dev -->
    <add key="PayUmoneyKey" value="fB7m8s" />
    <add key="PayUmoneySalt" value="eRis5Chv" />
    <add key="PayUmoneyRedirectURL" value="https://test.payu.in/_payment" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="EB3A7BAF41E7279A789CAE914834B30517616685ED2608661F3D5AEB6207862F1BF3737C4CF48F5C48BF5917EF100DB53179E1006B805D5FCCB5C9D15B1D8DB4" decryptionKey="A8DF32C07F719D0A82E13400C144BC525E3F94B555D616C91F73579B7B4E3D3E" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>