*.dll
*.pdb
*.user
*.suo
*.v12.suo


LYSApp/LYSApp.Data/LYSApp.Data.csproj.user
LYSApp/LYSApp.Web/LYSApp.Web.csproj.user
.cache

*.cache

LYSApp/packages/*

LYSApp/LYSApp.Data/bin/*
LYSApp/LYSApp.Domain/bin/*
LYSApp/LYSApp.Model/bin/*
LYSApp/LYSApp.Web/bin/*
LYSApp/LYSApp.Web.Tests/bin/*

LYSApp/LYSApp.Data/obj/*
LYSApp/LYSApp.Domain/obj/*
LYSApp/LYSApp.Model/obj/*
LYSApp/LYSApp.Web/obj/*
LYSApp/LYSApp.Web.Tests/obj/*


LYSApp/LYSApp.Web/Scripts/_references.js
