*.dll
*.pdb
LYSApp/LYSApp.Domain/bin/Debug/LYSApp.Domain.dll.config
LYSApp/LYSApp.Domain/bin/Debug/Newtonsoft.Json.xml
LYSApp/LYSApp.Domain/bin/Debug/ServiceStack.Text.xml
LYSApp/LYSApp.Domain/obj/Debug/LYSApp.Domain.csproj.FileListAbsolute.txt
LYSApp/LYSApp.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LYSApp/LYSApp.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LYSApp/LYSApp.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
LYSApp/LYSApp.Web/obj/Debug/LYSApp.Web.csprojResolveAssemblyReference.cache
LYSApp/LYSApp.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LYSApp/LYSApp.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
LYSApp/LYSApp.Web/obj/Debug/LYSApp.Web.csproj.FileListAbsolute.txt
LYSApp/LYSApp.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
LYSApp/LYSApp.Data/bin/Debug/EntityFramework.SqlServer.xml
LYSApp/LYSApp.Web/Bin/System.Web.WebPages.xml
LYSApp/LYSApp.Web/Bin/System.Web.WebPages.Deployment.xml
LYSApp/LYSApp.Web/Bin/System.Web.Optimization.xml
LYSApp/LYSApp.Web/Bin/System.Web.WebPages.Razor.xml
LYSApp/LYSApp.Web/Bin/System.Web.Razor.xml
LYSApp/LYSApp.Web/Bin/System.Web.Mvc.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.Security.Cookies.xml
LYSApp/LYSApp.Web/Bin/Newtonsoft.Json.xml
LYSApp/LYSApp.Web/Bin/System.Web.Helpers.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.Security.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.Security.Twitter.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.Security.OAuth.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.Security.MicrosoftAccount.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.Security.Google.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.Security.Facebook.xml
LYSApp/LYSApp.Web/Bin/Microsoft.Owin.Host.SystemWeb.xml
LYSApp/LYSApp.Web/Bin/Microsoft.AspNet.Identity.Owin.xml
LYSApp/LYSApp.Web/Bin/Microsoft.AspNet.Identity.EntityFramework.xml
LYSApp/LYSApp.Web/Bin/Microsoft.AspNet.Identity.Core.xml
LYSApp/LYSApp.Web/Bin/LYSApp.Web.dll.config
/LYSApp/LYSApp.Data/bin/Debug
/LYSApp/LYSApp.Model/bin/Debug
/LYSApp/LYSApp.Model/obj/Debug/LYSApp.Model.csproj.FileListAbsolute.txt
/LYSApp/LYSApp.Model/obj/Debug/LYSApp.Model.csprojResolveAssemblyReference.cache
/LYSApp/LYSApp.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/LYSApp/LYSApp.Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/LYSApp/LYSApp.Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/LYSApp/LYSApp.Domain/obj/Debug/LYSApp.Domain.csprojResolveAssemblyReference.cache
/LYSApp/LYSApp.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/LYSApp/LYSApp.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/LYSApp/LYSApp.Web/Bin/EntityFramework.SqlServer.xml
/LYSApp/LYSApp.Web/Bin/EntityFramework.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/EntityFramework.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/LYSApp.Web.Tests.dll.config
/LYSApp/LYSApp.Web.Tests/bin/Debug/Microsoft.AspNet.Identity.Core.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/Microsoft.Owin.Host.SystemWeb.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/Microsoft.Owin.Security.Cookies.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/Microsoft.Owin.Security.OAuth.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/Microsoft.Owin.Security.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/Microsoft.Owin.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/Newtonsoft.Json.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/System.Web.Helpers.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/System.Web.Mvc.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/System.Web.Optimization.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/System.Web.Razor.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
/LYSApp/LYSApp.Web.Tests/bin/Debug
/LYSApp/LYSApp.Web.Tests/obj/Debug/LYSApp.Web.Tests.csproj.FileListAbsolute.txt
/LYSApp/LYSApp.Web.Tests/obj/Debug/LYSApp.Web.Tests.csprojResolveAssemblyReference.cache
/LYSApp/LYSApp.Web.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/LYSApp/LYSApp.Web.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/LYSApp/LYSApp.Web.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/LYSApp/LYSApp.Data/obj/Debug/LYSApp.Data.csprojResolveAssemblyReference.cache
/LYSApp/LYSApp.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/LYSApp/LYSApp.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/LYSApp/LYSApp.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/LYSApp/LYSApp.Data/obj/Debug/LYSApp.Data.csproj.FileListAbsolute.txt
LYSApp/LYSApp.Data/obj/Debug/edmxResourcesToEmbed/DBEntity/LYSDemo.csdl
LYSApp/LYSApp.Data/obj/Debug/edmxResourcesToEmbed/DBEntity/LYSDemo.ssdl
LYSApp/LYSApp.Data/obj/Debug/edmxResourcesToEmbed/DBEntity/LYSDemo.msl
LYSApp/LYSApp.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LYSApp/LYSApp.Data/LYSApp.Data.csproj.user
LYSApp/LYSApp.Web/LYSApp.Web.csproj.user
LYSApp/LYSApp.Data/obj/Debug/edmxResourcesToEmbed/DBEntity/LYSAdmin.csdl
LYSApp/LYSApp.Data/obj/Debug/edmxResourcesToEmbed/DBEntity/LYSAdmin.msl
/LYSApp/LYSApp.Domain/bin/Debug/EntityFramework.xml
/LYSApp/LYSApp.Domain/bin/Debug/Microsoft.AspNet.Identity.Core.xml
/LYSApp/LYSApp.Domain/bin/Debug/Microsoft.AspNet.Identity.EntityFramework.xml
/LYSApp/LYSApp.Domain/bin/Debug/Microsoft.AspNet.Identity.Owin.xml
/LYSApp/LYSApp.Domain/bin/Debug/Microsoft.Owin.Security.Cookies.xml
/LYSApp/LYSApp.Domain/bin/Debug/Microsoft.Owin.Security.OAuth.xml
/LYSApp/LYSApp.Domain/bin/Debug/Microsoft.Owin.Security.xml
/LYSApp/LYSApp.Domain/bin/Debug/Microsoft.Owin.xml
/LYSApp/LYSApp.Web.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/LYSApp/LYSApp.Data/obj/Debug/edmxResourcesToEmbed/DBEntity/LYSAdmin.ssdl
LYSApp/LYSApp.Web/LYSApp.Web.csproj.user
LYSApp/LYSApp.Web/LYSApp.Web.csproj.user
