@model LYSApp.Model.UserViewModel

<div id="tab-3" class="tab-pane">
    <div class="row form-group">
        <div class="col-md-12">
            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="divFile" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 row-padding-top-5">
                    <label for="fileProfile" id="fileLabel">
                        <input class="txtFile" id="fileProfile" name="fileProfile" type="file" style="display:none">
                        <p class="btn btn-primary">Choose File</p>
                    </label>
                    <div><div id="photoFilePath" class="filePath pull-left">No File Chosen</div><span id="spnRemove" onclick="fnRemove()" style="cursor:pointer; color:gray; display:none">x</span></div>
                    <br />
                    <img draggable="false" id="imgProfile" style="display:inline-block; height:100px; width:100px; margin: 0 5px 0 10px;" src="@Url.Action(Model.ProfilePicture)" />
                    @Html.HiddenFor(model => model.ProfilePicture)
                </div>
            </div>
            <div id="divErrorFileFormatIMG" style="display:none" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <span id="spnErrorFileFormatIMG" class="error" style="display:none;color:red;"></span>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{

    <script>
               
        document.getElementById("fileProfile").onchange = function () {

            $("#photoFilePath").html(this.value.split('\\').pop());
            $("#photoFilePath").attr("title", this.value.split('\\').pop());
            $("#hdnFileName").val('@Model.UserID' + '_' + this.value.split('\\').pop());

        };
    </script>
   
  
    


}