@model LYSApp.Model.UserViewModel

<div class="col-md-9">
    <div class="panel content">
        <div class="panel-heading">
            Verification
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    Phone Number
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", maxlength = "50", placeholder = "Phone " , tabIndex = "1" })
                </div>
            </div>
            <div class="col-md-12">
                if(model.PhoneNumberConfirmed)
                    @Html.Label("Verified")
                else
                    <a href="#">Verify</a>
                </div>
            <div class="row">
                <div class="col-md-3">
                   Email ID
                </div>
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", maxlength = "50", placeholder = "Email ID ", tabIndex = "1" })
                </div>
            </div>


        </div>
    </div>
</div>