@model LYSApp.Model.ForgotPasswordViewModel 

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotpassword" role="dialog" aria-labelledby="forgotpasswordLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="forgotpasswordLabel">Forgot Password</h4>
            </div>
            <div class="modal-body">
                @*<form role="form" id="form-ForgotPassword">*@
                @using (Ajax.BeginForm("ForgotPassword", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions() { OnBegin = "forgotpasswordBegin", OnSuccess = "forgotpasswordSuccess", OnFailure = "forgotpasswordFailed", HttpMethod = "Post" }, new { role = "form", id = "form-ForgotPassword", autocomplete = "off" }))
                {
                    @Html.AntiForgeryToken()                    
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", maxlength = "50", placeholder = "Email", tabIndex = "1" })
                        @*<input type="email" class="form-control" placeholder="Email Address" id="txtForgotPasswordEmail" name="txtForgotPasswordEmail" required tabindex="1">*@
                    </div>

                    <div class="form-group">
                        <div class="btn-group-justified">
                            <input type="submit"  class="btn btn-lg btn-green full-width" value="Send Reset Link" tabindex="2">
                        </div>
                    </div>
                    @*</form>*@
                }
            </div>
        </div>
    </div>
</div> <!-- End Forgot Password Modal -->
