   <!-- Message Modal -->
<div class="modal fade in" id="modal-message" role="dialog" aria-labelledby="modal-messageLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal-messageLabel">Message</h4>
                </div>*@
            <div class="modal-body">
                <div class="alert alert-success" style="font-size: 1.2em;margin-bottom: 0px;font-weight: 300;">
                    <i class="fa fa-comments-o"></i><span style="margin:0% 1% 0% 1%;" id="spnMessage" class="text-justify"></span><i data-dismiss="modal" class="fa fa-times pull-right"></i>
                </div>
            </div>
            @*<div class="modal-footer">
                    <input type="button" class="btn btn-green" data-dismiss="modal" value="Okey" />
                </div>*@
        </div>
    </div>
</div> <!-- End Message Modal -->
