@using LYSApp.Model
@model LoginViewModel
           <script>
               function loginSuccess(response) {
                   alert('s ' + response);
               }
               function loginFailed(response) {
                   alert('f ' + response);
               }
           </script>
<!-- Sign In Modal -->
<div class="modal fade" id="signin" role="dialog" aria-labelledby="signinLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="signinLabel">Sign In</h4>
            </div>
            <div class="modal-body">
                <div class="errorblock form-group hidden">
                    <div class="alert alert-success modal-alert">
                        <div class="row no-margin">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <i class="fa fa-exclamation-circle"></i>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                <span class="errormessage"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })

                @*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "form-SignIn", autocomplete = "off" }))*@
                @using (Ajax.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new AjaxOptions() { OnSuccess = "loginSuccess", OnFailure = "loginFailed",HttpMethod="Post" }, new { role = "form", id = "form-SignIn", autocomplete = "off" }))
                {

                    @Html.AntiForgeryToken();
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", maxlength = "50", placeholder = "Email", tabIndex = "1" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", maxlength = "50", placeholder = "Password", tabIndex = "2" })
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="checkbox custom-checkbox hidden"><label><input type="checkbox"><span class="fa fa-check"></span> Remember me</label></div>
                            </div>
                            <div class="col-xs-6 align-right">
                                <p class="help-block"><a class="modal-fp text-green">Forgot password?</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group-justified">
                            <input type="submit" class="btn btn-lg btn-green full-width" value="Sign In">
                        </div>
                    </div>
                }
                <p class="help-block">Don't have an account? <a class="modal-su text-green">Sign Up</a></p>
            </div>
        </div>
    </div>
</div> <!-- End Sign In Modal -->
