<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">Fare Details</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-inline total-result">
                        <li>
                            <h4>Fare</h4>
                            <div class="total-result-in">
                                <span>@Model.Price</span>
                            </div>
                        </li>
                        <li>
                            <h4>Booking Charges</h4>
                            <div class="total-result-in">
                                <span class="text-right">200</span>
                            </div>
                        </li>
                      
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
