
@{
    ViewBag.Title = "ReviewBooking";
       Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/app.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Custom/Search/shop.style.css" rel="stylesheet" />
<link href="~/Content/Custom/Search/custom-jquery.steps.css" rel="stylesheet" />

<div class="content-md margin-bottom-30 row-padding-top-5">
    <div class="container">
        <form class="shopping-cart" action="#">
            <div>
                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>Review Booking</h2>
                        <p>Review &amp; edit your booking</p>
                        <i class="rounded-x fa fa-check"></i>
                    </div>
                </div>
                <section>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">Ganesh PG</div>
                            <div class="panel-body">
                               <div class="row">
                                   <div class="col-md-4">
                                       <img src="~/Images/prop/1-1.png" alt="room image" width="150" height="100"/>
                                   </div>
                                   <div class="col-md-4">
                                       <p>3 Sharing AC room</p>
                                       <p>Address</p>
                                   </div>
                                   <div class="col-md-4">
                                       <p>Check-In Date</p>
                                       <p>05-12-2015</p>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Fare Details</div>
                            <div class="panel-body">
                             
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-inline total-result">
                                                <li>
                                                    <h4>Fare</h4>
                                                    <div class="total-result-in">
                                                        <span>$ 1280.00</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h4>Fees & Taxes</h4>
                                                    <div class="total-result-in">
                                                        <span class="text-right">200</span>
                                                    </div>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="total-price">
                                                    <h4>Total</h4>
                                                    <div class="total-result-in">
                                                        <span>$ 1480.00</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        
                                        </div>
                                   </div>
                                </div>
                            </div>
                        </div>
                    <div class="coupon-code">
                        <div class="row">
                            <div class="col-sm-4 sm-margin-bottom-30">
                                <h3>Discount Code</h3>
                                <p>Enter your coupon code</p>
                                <input class="form-control margin-bottom-10" name="code" type="text">
                                <button type="button" class="btn-u btn-u-sea-shop">Apply Coupon</button>
                            </div>

                        </div>
                    </div>
                </section>

                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>User Details</h2>
                        <p>User Details</p>
                        <i class="rounded-x fa fa-home"></i>
                    </div>
                </div>
                <section class="billing-info">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">Ganesh PG</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="~/Images/prop/1-1.png" alt="room image" width="150" height="100" />
                                        </div>
                                        <div class="col-md-4">
                                            <p>3 Sharing AC room</p>
                                            <p>Address</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p>Check-In Date</p>
                                            <p>05-12-2015</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Fare Details</div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-inline total-result">
                                                <li>
                                                    <h4>Fare</h4>
                                                    <div class="total-result-in">
                                                        <span>$ 1280.00</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h4>Fees & Taxes</h4>
                                                    <div class="total-result-in">
                                                        <span class="text-right">200</span>
                                                    </div>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="total-price">
                                                    <h4>Total</h4>
                                                    <div class="total-result-in">
                                                        <span>$ 1480.00</span>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="header-tags">
                    <div class="overflow-h">
                        <h2>Payment</h2>
                        <p>Select Payment method</p>
                        <i class="rounded-x fa fa-credit-card"></i>
                    </div>
                </div>
                <section>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 md-margin-bottom-50">
                            <h2 class="title-type">Choose a payment method</h2>
                            <!-- Accordion -->
                            <div class="accordion-v2">
                                <div class="panel-group" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                    <i class="fa fa-credit-card"></i>
                                                    Credit or Debit Card
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in">
                                            <div class="panel-body cus-form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-sm-4 no-col-space control-label">Cardholder Name</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control required" name="cardholder" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 no-col-space control-label">Card Number</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control required" name="cardnumber" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 no-col-space control-label">Payment Types</label>
                                                    <div class="col-sm-8">
                                                        <ul class="list-inline payment-type">
                                                            <li><i class="fa fa-cc-paypal"></i></li>
                                                            <li><i class="fa fa-cc-visa"></i></li>
                                                            <li><i class="fa fa-cc-mastercard"></i></li>
                                                            <li><i class="fa fa-cc-discover"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4">Expiration Date</label>
                                                    <div class="col-sm-8 input-small-field">
                                                        <input type="text" name="mm" placeholder="MM" class="form-control required sm-margin-bottom-20">
                                                        <span class="slash">/</span>
                                                        <input type="text" name="yy" placeholder="YY" class="form-control required">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 no-col-space control-label">CSC</label>
                                                    <div class="col-sm-8 input-small-field">
                                                        <input type="text" name="number" placeholder="" class="form-control required">
                                                        <a href="#">What's this?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <i class="fa fa-paypal"></i>
                                                    Pay with PayPal
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="content margin-left-10">
                                                <a href="#"><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png" alt="PayPal"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Accordion -->
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Fare Details</div>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list-inline total-result">
                                                <li>
                                                    <h4>Fare</h4>
                                                    <div class="total-result-in">
                                                        <span>$ 1280.00</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h4>Fees & Taxes</h4>
                                                    <div class="total-result-in">
                                                        <span class="text-right">200</span>
                                                    </div>
                                                </li>
                                                <li class="divider"></li>
                                                <li class="total-price">
                                                    <h4>Total</h4>
                                                    <div class="total-result-in">
                                                        <span>$ 1480.00</span>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                
            </div>
        </form>
    </div><!--/end container-->
</div>
<!--=== End Content Medium Part ===-->
@section Scripts{
<script src="~/Scripts/Custom/User/jquery.steps.js"></script>
<script src="~/Scripts/Custom/User/jquery.validate.min.js"></script>
<script src="~/Scripts/Custom/User/shop.app.js"></script>
<script src="~/Scripts/Custom/User/stepWizard.js"></script>
<script>
    jQuery(document).ready(function () {
        App.init();
        StepWizard.initStepWizard();
    });
</script>

}